article{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}
article img{
    height: 100vh;
}
article div{
    display: flex;
    flex-direction: row;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}
.text h1{
    font-size: 3em;
}