h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}