article{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
article div{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
article img{
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    filter: blur(2px);
}
article h1{
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 0;
    right: 0;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    transform: translate(0% -50%);
}
article p{
    position: absolute;
    width: 50vw;
    left: 50%;
    bottom: 10%;
    font-size: 3vw;
    transform: translate(-50%);
    text-align: center;
}

@media screen and (max-width: 850px){
    article img{
        height: 100vh;
        width: auto;
    }
}