body{
    margin: 0;
    padding: 0;
}

#information{
    display: grid;
    grid-template-columns: 50% 50%;
}

.left{
    height: 100%;
    width: 100%;
    background-color: blue;
}
.right{
    height: 100%;
    width: 100%;
    background-color: blue;
}