#screen_tin{
    opacity: 0%;
}
#screen_tin div{
    display: flex;
}

#screen_big{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
}
#screen_big li{
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 850px){
    #screen_tin{
        opacity: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }
    #screen_big{
        display: none;
    }
}