@font-face {
    font-family: Nothing;
    src: url("/font/Nothing/Nothing_NdroidOs_led.ttf");
}
.black{
    background-color: black;
    background-size: 100vw 50vh;
}
.text_white{
    color: white;
}
.text_black{
    color: black;
}

/*BODY nav*/
#nav{
    font-family: "Nothing";
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}
#nav h1{
    font-weight: 999;
}
#nav li{
    list-style: none;
    font-size: 0.8rem;
}
.nav_title{
    color: black;
}
#nav h1, #nav .h2_pointer:hover{
    cursor: pointer;
}

/*DROPDOWN product*/
#nav_dropdown{
    display: none;
    position: absolute;
    top: 7%;
    font-size: .5rem;
    width: 100vw;
    height: 50vh;
}
#nav_dropdown_img{
    float: left;
    display: none;
    position: absolute;
    top: 7%;
    font-size: .5rem;
    width: 100vw;
    height: 50vh;
}
#nav_dropdown_img span{
    display: none;
}
#nav_dropdown_img h2:hover span{
    display: contents;
}
.product:hover #nav_dropdown_img{
    display: contents;
}
#nav_dropdown span{
    display: none;
}
#nav_dropdown h2:hover span{
    display: contents;
}
.product{
    display: flex;
    flex-direction: column;
}
.product:hover #nav_dropdown{
    display: contents;
}

/*DROPDOWN About*/
#nav_dropdown_about{
    display: none;
    position: absolute;
    top: 7%;
    font-size: .5rem;
    color: black;
}
#nav_dropdown_about span{
    display: none;
}
#nav_dropdown_about h2:hover span{
    display: contents;
}
.about{
    display: flex;
    flex-direction: column;
}
.about:hover #nav_dropdown_about{
    display: contents;
}

/*random*/
.h2_pointer{
    color: white;
}
.nav_margin_bottom{
    margin-bottom: 80px;
}
#img_pro_nav{
    position: absolute;
    top: 15%;
    left: 2%;
}
#img_mon_nav{
    position: absolute;
    top: 15%;
    left: 2%;
}

/*Nav dropdown screen size*/
#nav_screen_size{
    z-index: 1100;
    top: 0;
    left: 0;
    position: fixed;
}
.not_visible_nav_screen{
    display: contents;
}
.visible_nav_screen{
    display: contents;
}

/*SCREEN SIZE*/
@media screen and (max-width: 850px){
    #nav{
        display: none;
    }
    #nav_screen_size{
        display: none;
    }
}
