@font-face {
    font-family: nothing;
    src: url("font/Nothing/Nothing_NdroidOs_led.ttf");
}

nav{
    z-index: 999;
    font-family: nothing;
    font-weight: 50;
}

#screen_tin{
    opacity: 0%;
}
#screen_tin .nav_dropdown{
    display: none;
}
#screen_tin div{
    display: flex;
    flex-direction: column;
}

#screen_big{
    font-family: "Nothing";
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}
#screen_big #nav_dropdown_pro{
    display: none;
}
#screen_big #nav_dropdown_abo{
    display: none;
}
#screen_big li{
    list-style: none;
}
#about:hover #nav_dropdown_abo{
    display: contents;
}
#product:hover #nav_dropdown_pro{
    display: contents;
}

@media screen and (max-width: 850px){
    #screen_tin{
        position: fixed;
        opacity: 100%;
        left: 0;
        top: 0;
    }
    #screen_big{
        display: none;
    }
}