@font-face {
    font-family: nothing;
    src: url("font/Nothing/Nothing_NdroidOs_led.ttf");
}

nav{
    z-index: 999;
    font-family: nothing;
    font-weight: 50;
}

#screen_tin{
    opacity: 0%;
    z-index: 1;
}
#nav_dropdown_tin{
    display: none;
}
#screen_tin div{
    display: flex;
    flex-direction: column;
}

#screen_big{
    font-family: "Nothing";
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}
#screen_big h2 span{
    display: none;
}
#screen_big h2:hover span{
    display: contents;
}
#screen_big img{
    float: left;
    display: none;
    position: absolute;
    top: 7%;
    font-size: .5rem;
    width: 100vw;
    height: 50vh;
}
#screen_big #nav_dropdown_pro{
    background-color: black;
    display: none;
}
#screen_big #nav_dropdown_abo{
    background-color: black;
    display: none;
}
#screen_big li{
    list-style: none;
    font-size: 0.8rem;
}
#screen_big li:hover{
    cursor: pointer;
}
#about:hover #nav_dropdown_abo{
    position: absolute;
    top: 7%;
    font-size: .5rem;
    width: 100vw;
    height: 50vh;
    display: contents;
}
#product:hover #nav_dropdown_pro{
    position: absolute;
    top: 7%;
    font-size: .5rem;
    width: 100vw;
    height: 50vh;
    display: contents;
}

@media screen and (max-width: 850px){
    #screen_tin{
        position: fixed;
        opacity: 100%;
        left: 0;
        top: 0;
    }
    #screen_big{
        display: none;
    }
}



/*random*/
.h2_pointer{
    color: white;
}
.nav_margin_bottom{
    margin-bottom: 80px;
}
#img_pro_nav{
    position: absolute;
    top: 15%;
    left: 2%;
}
#img_mon_nav{
    position: absolute;
    top: 15%;
    left: 2%;
}

/*Nav dropdown screen size*/
#screen_tin{
    display: none;
}
.not_visible_nav_screen{
    display: none;
}
.visible_nav_screen{
    display: contents;
}

/*SCREEN SIZE*/
@media screen and (max-width: 850px){
    #nav{
        display: none;
    }
    #nav_screen_size{
        display: contents;
    }
}