article{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
article div{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}
article img{
    height: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    object-fit: contain;
}
.text_article{
    position: absolute;
    left: 0;
    top: 10%;

    display: flex;
    justify-content: center;
    transform: translate(0% -50%);
}
article h1{
    font-size: 4vw;
}

#div_power45{
    background-color: black;
}