article{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
article img{
    left: 50%;
    top: 50%;

    height: 100%;
}
article div{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100vw;
    background-color: white;
    scroll-snap-align: center;
}

/*SCREEN SIZE*/
@media screen and (max-width: 850px){
    article div{
        flex-direction: column;
    }
    .text{
        height: auto;
    }
    article img{
        height: auto;
        width: 100vw;
    }
}